/.venv/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
__pycache__/
*.py[cod]

/.env
/runs/.gitkeep
!/runs/.gitkeep
/data/*
!/data/.gitkeep
/notebooks/*
!/notebooks/.gitkeep

*.egg-info/
dist/
build/
.idea/

